# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pyinstaller / cx_Freeze
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.orig
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebooks
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Machine Learning & Data Artifacts
*.pt
*.pth
*.bin
*.onnx
*.safetensors
*.faiss
*.index
*.pkl
*.parquet
*.h5

# Datasets & Checkpoints
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/checkpoints/*
!models/checkpoints/.gitkeep
outputs/*
!outputs/.gitkeep
demo/*.wav

# Logs & Temporary files
*.log
logs/
tmp/
/tmp/

#documentation
documentation/